[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Sara Almadi
	email = sara.hussam1993@gmail.com
[merge]
	tool = opendiff
